<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="konradTest">
    <test name="konradTest">
        <parameter name="name" value="Elvin Gomez"></parameter>
        <parameter name="email" value="prueba@konrad.com"></parameter>
        <parameter name="phone" value="123456789"></parameter>
        <parameter name="request" value="This is a QA Test"></parameter>
        <classes>
            <class name="konradTest"></class>
        </classes>
    </test>
</suite>